<h1>Bem vindo ao Photo Azores!</h1>
<p>Este é um projecto feito por Açoreanos para Açoreanos!
<%= link_to "Las cucarachas", "www.google.com" %>
</p>
<p>
	<%= link_to "Sign Up!", "www.google.com" %>
</p>

