<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
 <ul class="nav navbar-nav navbar-right">
  <li><%= link_to "<Azores>", "http://www.azores.com"%></li>
  <li><%= link_to "", "http://www.azores.com"%></li>
</nav>

